/* Light mode styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #000000;
   color: #ffffff;
 }
 
 body.dark {
   background-color: #ece7e7;
   color: #000000;
 }